<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <img [src]="photos?.thumbnailUrl" alt="">
                </div>
                <div class="col-md-6">
                    <h2>Id item: {{photos?.id}}</h2>
                </div>
                <div class="col-md-12">
                    <h2>Title item:</h2>
                    <p>{{photos?.title}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-dark btn-back" (click)="goBack()">go back</button>