<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card photos-card">
            <button class="btn btn-light btn-back" (click)="goBack()">go back</button>
            <div class="row">
                <div class="col-md-4">
                    <img *ngIf="photos" [src]="photos?.thumbnailUrl" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="header__h5">{{photos?.title}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>