<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="jumbotron">
                <h2>Photos</h2>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card-body">
                        <ul class="list">
                            <li *ngFor="let album of albumId" class="list__item">
                                <a routerLink="/photos/{{album.id}}">
                                    <p>{{album?.title}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-dark btn-back" (click)="goBack()">go back</button>