<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-light btn-back" (click)="goBack()">go back</button>
                <ul class="list">
                    <li *ngFor="let album of albumId | paginate: { itemsPerPage: 10, currentPage: p }"
                        class="list__item">
                        <a routerLink="/photos/{{album.id}}" class="list__link">
                            <p>Photo: {{album?.id}}</p>
                        </a>
                    </li>
                </ul>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>